.addBox {
  padding: 5px;
  border-bottom: 1px solid $border-form-color;
  font: inherit;
  font-size: 14px;

  @media screen and (min-width: ($tablet + 1)) {
    @include flex(left);
    font-size: 16px;
  }
}

.addIconBox {
  @include flex(left);
  margin-right: 10px;
  cursor: pointer;

  &:hover {
    background-color: $bg-form-color;
  }

  @media screen and (min-width: ($tablet + 1)) {
    min-height: 58px;
  }
}

.addIcon {
  font-size: 25px;
  margin-right: 10px;
  color: $accent-color;

  @media screen and (min-width: ($tablet + 1)) {
    min-height: 58px;
    font-size: 30px;
  }
}

.addIconTitle {
  min-width: 120px;
}

.addForm {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid $border-form-color;
  border-radius: 5px;
  text-align: left;

  @media screen and (min-width: ($tablet + 1)) {
    @include flex(left);
    margin-top: 0px;
  }
}

.addLabel {
  position: relative;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
  font: inherit;

  @media screen and (min-width: ($tablet + 1)) {
    display: inline-flex;
    margin-right: 5px;
    margin-bottom: 0px;
  }
}

.addTitle {
  position: absolute;
  top: 50%;
  left: 5px;
  line-height: 1;
  color: $font-color;
  transform: translateY(-50%);

  .addInput:focus ~ &,
  .addInput:not(:placeholder-shown) ~ & {
    top: -3px;
    font-size: 12px;
    background-color: $bg-color;
  }
}

.addInput {
  width: 100%;
  padding: 5px;

  font: inherit;
  border: 2px solid $border-form-color;
  border-radius: 5px;
  outline: none;

  &:hover {
    border: 2px solid rgba(0, 0, 255, 0.4);
  }
}

.addButton {
  min-width: 110px;
  padding: 3px 10px 5px;
  border-radius: 25px;
  border: 2px solid $border-color;
  box-shadow: $main-shadow;

  font: inherit;
  text-align: center;
  color: $font-color-rev;
  background-color: $bg-color-rev;
  transform: translate(0, 0);
  cursor: pointer;
  outline: none;

  transition: background-color 250ms linear, color 250ms linear;

  &:hover {
    color: $font-color;
    background-color: $bg-color;
  }

  &:focus {
    color: $font-color-rev;
    background-color: $bg-color-rev;
    transform: translate(1px, 1px);
    box-shadow: none;
  }
}
