.contactList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 10px;
  padding: 5px;
}

.contactListItem {
  @include flex(left);
  align-items: stretch;
  border-radius: 5px;
  border: 1px solid $border-form-color;
  border-left: 2px solid $accent-color;
  box-shadow: $nav-shadow;
}

.contactIconBox {
  @include flex();
  width: 25%;
  height: 100%;
  padding: 5px;
  border-right: 1px solid $border-form-color;
}

.contactIcon {
  width: 100%;
  height: 100%;
  color: $bg-contact-color;
}

.contactNameBox {
  width: 75%;
  padding: 5px;
  text-align: left;
}

.serviseButtonBox {
  @include flex(right);
}

.serviseButton {
  // position: absolute;
  // bottom: 0;
  // right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  color: $overlay-color;

  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $accent-color;
  }
}

.serviseIcon {
  width: 100%;
  height: 100%;
}

.updForm {
  margin-bottom: 5px;
  text-align: center;
}

.updInput {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;

  font: inherit;
  border: 1px solid $border-form-color;
  outline: none;
  border-radius: 5px;

  &:hover {
    border: 1px solid rgba(0, 0, 255, 0.4);
  }

  &:last-child {
    margin-bottom: 5px;
  }
}

.updButton {
  min-width: 50px;
  padding: 3px 5px 3px;
  border-radius: 25px;
  border: 2px solid $border-color;
  box-shadow: $main-shadow;

  font: inherit;
  font-size: 14px;
  text-align: center;
  color: $font-color-rev;
  background-color: $bg-color-rev;
  transform: translate(0, 0);
  cursor: pointer;
  outline: none;

  transition: background-color 250ms linear, color 250ms linear;

  &:hover {
    color: $font-color;
    background-color: $bg-color;
  }

  &:focus {
    color: $font-color-rev;
    background-color: $bg-color-rev;
    transform: translate(1px, 1px);
    box-shadow: none;
  }
}
