.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  @include flex();
  background: $gradient-bg;
  color: $font-color-rev;
  border-bottom: 2px solid $border-color;
  box-shadow: $nav-shadow;
  z-index: 10;
}

.navigate {
  @include flex();
  flex-grow: 1;
}

.navLinkBox {
  flex-grow: 1;
  text-align: left;
}

.regLinkBox {
  flex-grow: 1;
  text-align: right;
}

.navLink {
  position: relative;
  font: inherit;
  color: inherit;
}

.navLink:not(:last-child) {
  margin-right: 10px;
}

.navLink.active {
  color: inherit;
}

.navLink.active::after {
  content: ' ';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: $border-color;
}

.userMenuBox,
.personBox {
  @include flex();
}

.personIcon {
  margin-right: 10px;
  font-size: 25px;
  color: $border-color;
}

.personGreeting {
  margin-right: 10px;
}

.exitButton {
  min-width: 100px;
  padding: 5px 20px 7px;
  color: $font-color-rev;
  background-color: $bg-color-rev;
  border-radius: 25px;
  border: 2px solid $border-color;
  box-shadow: $main-shadow;
  font: inherit;
  text-align: center;
  cursor: pointer;
}
