.logoBox {
  @include flex();
  padding: 5px 10px;
  margin-bottom: 40px;

  border-radius: 25px;
  border: 2px solid $border-color;
  background: $bg-color;
  color: $accent-color;
  text-shadow: $text-shadow;
}

.logoIcon {
  margin-right: 5px;
  font-size: 36px;

  @media screen and (min-width: ($tablet + 1)) {
    font-size: 40px;
  }
}

.logoTitle {
  @include font(700, 30px, 1.05, 0.03em, $logo-font);
  word-break: break-all;

  @media screen and (min-width: ($tablet + 1)) {
    font-size: 35px;
  }
}

.homeTitle {
  margin-bottom: 40px;
  @include font(700, 30px, 1.1, 0.05em);
  color: $font-color-rev;

  @media screen and (min-width: ($tablet + 1)) {
    font-size: 40px;
  }
}

.homeLinkBtn {
  min-width: 150px;
  padding: 5px 20px 7px;
  color: $font-color-rev;
  background-color: $bg-color-rev;
  border-radius: 25px;
  border: 2px solid $border-color;
  box-shadow: $main-shadow;
  font: inherit;
  text-align: center;
}
