.smallLogo {
  margin-right: 20px;
  padding: 5px;
  border-radius: 25px;
  border: 2px solid $border-color;
  background: $bg-color;
  color: $accent-color;
  text-shadow: $text-shadow;
}

.logoLink {
  @include flex();
  @include allSpace();
  color: $accent-color;
}

.logoLink.active {
  color: $accent-color;
}

.smallLogoIcon {
  margin-right: 5px;
  font-size: 24px;
}

.smallLogoTitle {
  @include font(700, 20px, $family: $logo-font);
}
