*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // outline: 1px solid tomato;
}

body {
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $code-font;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  border: none;
  overflow: hidden;
}

.App {
  width: 100%;
  min-height: calc(100vh-80px);
  text-align: center;
  background-color: $bg-color;
}

.section {
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  font-size: 24px;
  @include flex();
  flex-direction: column;

  //less than 480px
  background-image: linear-gradient($overlay-color, $overlay-color),
    url('../../image/bgimage_640.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient($overlay-color, $overlay-color),
      url('../../image/bgimage_720.webp');
  }

  //more than 480px
  @media screen and (min-width: ($mobile + 1)) {
    background-image: linear-gradient($overlay-color, $overlay-color),
      url('../../image/bgimage_720.webp');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient($overlay-color, $overlay-color),
        url('../../image/bgimage_1280.webp');
    }
  }

  //more than 768px
  @media screen and (min-width: ($tablet + 1)) {
    background-image: linear-gradient($overlay-color, $overlay-color),
      url('../../image/bgimage_1280.webp');
  }
}
